parameters:
	ignoreErrors:
		-
			message: "#^Cannot call method in\\(\\) on iterable\\<SplFileInfo\\>\\.$#"
			count: 1
			path: .php-cs-fixer.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 1
			path: src/Values/ValueAddedTaxRegistrationNumber.php

		-
			message: "#^Method BaseCodeOy\\\\Tax\\\\Values\\\\ValueAddedTaxRegistrationNumber\\:\\:dataCastUsing\\(\\) has parameter \\$arguments with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Values/ValueAddedTaxRegistrationNumber.php

		-
			message: "#^Method class@anonymous/src/Values/ValueAddedTaxRegistrationNumber\\.php\\:50\\:\\:cast\\(\\) has parameter \\$creationContext with generic class Spatie\\\\LaravelData\\\\Support\\\\Creation\\\\CreationContext but does not specify its types\\: TData$#"
			count: 1
			path: src/Values/ValueAddedTaxRegistrationNumber.php

		-
			message: "#^Call to an undefined method Pest\\\\PendingCalls\\\\TestCall\\:\\:expect\\(\\)\\.$#"
			count: 1
			path: tests/ArchTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Foundation\\\\Application\\:\\:\\$config\\.$#"
			count: 6
			path: tests/TestCase.php

		-
			message: "#^Parameter \\#1 \\$app \\(Illuminate\\\\Application\\) of method Tests\\\\TestCase\\:\\:getPackageProviders\\(\\) should be contravariant with parameter \\$app \\(Illuminate\\\\Foundation\\\\Application\\) of method Orchestra\\\\Testbench\\\\TestCase\\:\\:getPackageProviders\\(\\)$#"
			count: 1
			path: tests/TestCase.php

		-
			message: "#^Parameter \\#1 \\$path of method Illuminate\\\\Foundation\\\\Application\\:\\:useStoragePath\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: tests/TestCase.php

		-
			message: "#^Parameter \\$app of method Tests\\\\TestCase\\:\\:getPackageProviders\\(\\) has invalid type Illuminate\\\\Application\\.$#"
			count: 1
			path: tests/TestCase.php
